/* *{
	outline: 1px dashed green;
} */
.wrapper{
	width: 970px;
	margin: 0 auto;
}
	form{
		width: 210px;
		min-height: 130px;
		border: 2px solid black;
		position: relative;
		display: inline-block;
		margin-left: 20px;
		margin-top: 10px;
		padding: 2px;
		font-family: 'helvetica';
	}
		form h2, p{
			text-align: center;
		}
		form input[type="submit"]{
			margin-left: 75px;
		}
		textarea{
			margin-left: 20px;
			/* white-space: pre-wrap; */
		}
		label{
			margin-left: 50px;
			font-size: 25px;
			padding-right: 10px;
		}
		input[type='text']{
			width: 150px;
			min-height: 30px;
			text-align: center;
			font-size: 20px;
			font-weight: bold;
		}
		ul{
			/* background-color: blue; */
			height: 300px;
			overflow: scroll;
		}
		.activity {
			/* background-color: green; */
			width: 940px;
			border: 2px solid black;
			margin-left: 20px;
			height: 300px;
			overflow: hidden;
		}
			.activity li{
				list-style: none;
			}
			.win{
				color: green;
			}
			.lose{
				color: red;
			}
		a{
			text-decoration: none;
		}
